services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    ports:
      - "3000:8080"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - 'OPENAI_API_CONFIGS={"0": {"model_ids": ["gpt-5.2"]}}'
    restart: unless-stopped

volumes:
  open-webui: {}
